.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.015137;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.015137;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.008301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.008301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.768066;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.770020;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.996094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.996094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.240000px;}
.ls3{letter-spacing:-0.216000px;}
.ls4{letter-spacing:-0.192000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.071200px;}
.ls2{letter-spacing:0.108000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-4.724160px;}
._2{margin-left:-1.151680px;}
._1{width:1.075680px;}
._3{width:2.283520px;}
._4{width:4.320000px;}
._5{width:5.400000px;}
.fc6{color:rgb(8,82,150);}
.fc5{color:rgb(153,51,102);}
.fc4{color:rgb(115,38,77);}
.fc0{color:rgb(63,63,63);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(255,0,0);}
.fc3{color:rgb(0,176,80);}
.fs3{font-size:36.000000px;}
.fs6{font-size:36.096000px;}
.fs2{font-size:39.840000px;}
.fs9{font-size:39.936000px;}
.fs7{font-size:48.000000px;}
.fs0{font-size:63.840000px;}
.fs5{font-size:63.936000px;}
.fs8{font-size:87.840000px;}
.fs1{font-size:104.160000px;}
.fs4{font-size:104.256000px;}
.y0{bottom:0.000000px;}
.y2a{bottom:68.400000px;}
.y29{bottom:87.264000px;}
.y28{bottom:106.580000px;}
.y27{bottom:126.860000px;}
.y26{bottom:147.140000px;}
.y25{bottom:161.420000px;}
.y24{bottom:178.820000px;}
.y23{bottom:187.820000px;}
.y22{bottom:205.700000px;}
.y21{bottom:225.980000px;}
.y44{bottom:236.060000px;}
.y20{bottom:251.810000px;}
.y43{bottom:254.090000px;}
.y47{bottom:263.330000px;}
.y42{bottom:272.090000px;}
.y1f{bottom:282.290000px;}
.y46{bottom:283.730000px;}
.y41{bottom:290.090000px;}
.y1e{bottom:291.290000px;}
.y45{bottom:303.890000px;}
.y40{bottom:308.090000px;}
.y1d{bottom:309.170000px;}
.y3f{bottom:326.090000px;}
.y1c{bottom:329.450000px;}
.y3e{bottom:339.290000px;}
.y1b{bottom:343.730000px;}
.y1a{bottom:364.010000px;}
.y3d{bottom:367.970000px;}
.y37{bottom:368.090000px;}
.y19{bottom:384.290000px;}
.y3c{bottom:387.890000px;}
.y15{bottom:388.850000px;}
.y36{bottom:392.930000px;}
.y18{bottom:401.570000px;}
.y14{bottom:402.890000px;}
.y3b{bottom:407.930000px;}
.y17{bottom:416.210000px;}
.y13{bottom:417.050000px;}
.y35{bottom:417.670000px;}
.y3a{bottom:427.870000px;}
.y12{bottom:431.110000px;}
.y16{bottom:436.390000px;}
.y34{bottom:442.510000px;}
.y11{bottom:445.270000px;}
.y39{bottom:447.790000px;}
.y10{bottom:462.430000px;}
.y33{bottom:464.110000px;}
.y38{bottom:468.190000px;}
.yf{bottom:482.710000px;}
.y4e{bottom:483.190000px;}
.y4d{bottom:492.550000px;}
.ye{bottom:502.990000px;}
.y4c{bottom:507.190000px;}
.y4b{bottom:521.830000px;}
.yd{bottom:523.270000px;}
.y4a{bottom:536.470000px;}
.yc{bottom:543.550000px;}
.y49{bottom:551.110000px;}
.yb{bottom:563.830000px;}
.y48{bottom:569.830000px;}
.ya{bottom:584.110000px;}
.y32{bottom:598.180000px;}
.y9{bottom:603.460000px;}
.y31{bottom:614.380000px;}
.y30{bottom:630.580000px;}
.y8{bottom:634.540000px;}
.y2f{bottom:646.780000px;}
.y7{bottom:648.700000px;}
.y6{bottom:662.980000px;}
.y5{bottom:677.980000px;}
.y2e{bottom:679.180000px;}
.y4{bottom:692.980000px;}
.y2d{bottom:695.380000px;}
.y3{bottom:707.980000px;}
.y2c{bottom:711.580000px;}
.y2{bottom:722.980000px;}
.y2b{bottom:725.380000px;}
.y1{bottom:746.500000px;}
.hd{height:27.210938px;}
.h7{height:27.650391px;}
.h4{height:27.896484px;}
.hb{height:27.970875px;}
.h9{height:30.599766px;}
.h3{height:30.872109px;}
.he{height:30.946500px;}
.h6{height:49.469766px;}
.h8{height:49.544156px;}
.hc{height:68.067422px;}
.h2{height:80.713828px;}
.h5{height:80.788219px;}
.h1{height:819.500000px;}
.ha{height:822.000000px;}
.h0{height:841.920000px;}
.w1{width:587.000000px;}
.w3{width:591.000000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x37{left:1.199991px;}
.x0{left:4.000000px;}
.x38{left:6.239991px;}
.x1c{left:19.199991px;}
.x10{left:22.559991px;}
.x1b{left:35.879991px;}
.x16{left:39.599991px;}
.x27{left:40.919991px;}
.x18{left:42.719991px;}
.x28{left:51.839991px;}
.x29{left:58.943991px;}
.x15{left:62.303991px;}
.xa{left:64.583991px;}
.x14{left:70.583991px;}
.xe{left:73.463991px;}
.xb{left:77.063991px;}
.xd{left:78.143991px;}
.x31{left:79.583991px;}
.x17{left:81.023991px;}
.x4{left:91.823991px;}
.x5{left:94.943991px;}
.x30{left:102.379991px;}
.x6{left:106.099991px;}
.xf{left:114.379991px;}
.x8{left:118.219991px;}
.x32{left:121.699991px;}
.x3{left:131.659991px;}
.x7{left:135.379991px;}
.xc{left:139.099991px;}
.x12{left:148.099991px;}
.x9{left:182.089991px;}
.x24{left:205.969991px;}
.x26{left:207.049991px;}
.x25{left:220.729991px;}
.x23{left:223.129991px;}
.x22{left:225.769991px;}
.x21{left:234.289991px;}
.x1a{left:236.329991px;}
.x11{left:239.089991px;}
.x13{left:245.209991px;}
.x2{left:260.449991px;}
.x20{left:266.209991px;}
.x36{left:269.689991px;}
.x1d{left:271.729991px;}
.x39{left:274.609991px;}
.x2f{left:281.089991px;}
.x1e{left:283.729991px;}
.x19{left:284.809991px;}
.x1f{left:301.389991px;}
.x2c{left:350.829991px;}
.x2b{left:367.149991px;}
.x34{left:370.749991px;}
.x33{left:374.229991px;}
.x2a{left:375.789991px;}
.x2d{left:378.909991px;}
.x35{left:382.989991px;}
.x2e{left:436.059991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.320000pt;}
.ls3{letter-spacing:-0.288000pt;}
.ls4{letter-spacing:-0.256000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.094933pt;}
.ls2{letter-spacing:0.144000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-6.298880pt;}
._2{margin-left:-1.535573pt;}
._1{width:1.434240pt;}
._3{width:3.044693pt;}
._4{width:5.760000pt;}
._5{width:7.200000pt;}
.fs3{font-size:48.000000pt;}
.fs6{font-size:48.128000pt;}
.fs2{font-size:53.120000pt;}
.fs9{font-size:53.248000pt;}
.fs7{font-size:64.000000pt;}
.fs0{font-size:85.120000pt;}
.fs5{font-size:85.248000pt;}
.fs8{font-size:117.120000pt;}
.fs1{font-size:138.880000pt;}
.fs4{font-size:139.008000pt;}
.y0{bottom:0.000000pt;}
.y2a{bottom:91.200000pt;}
.y29{bottom:116.352000pt;}
.y28{bottom:142.106667pt;}
.y27{bottom:169.146667pt;}
.y26{bottom:196.186667pt;}
.y25{bottom:215.226667pt;}
.y24{bottom:238.426667pt;}
.y23{bottom:250.426667pt;}
.y22{bottom:274.266667pt;}
.y21{bottom:301.306667pt;}
.y44{bottom:314.746667pt;}
.y20{bottom:335.746667pt;}
.y43{bottom:338.786667pt;}
.y47{bottom:351.106667pt;}
.y42{bottom:362.786667pt;}
.y1f{bottom:376.386667pt;}
.y46{bottom:378.306667pt;}
.y41{bottom:386.786667pt;}
.y1e{bottom:388.386667pt;}
.y45{bottom:405.186667pt;}
.y40{bottom:410.786667pt;}
.y1d{bottom:412.226667pt;}
.y3f{bottom:434.786667pt;}
.y1c{bottom:439.266667pt;}
.y3e{bottom:452.386667pt;}
.y1b{bottom:458.306667pt;}
.y1a{bottom:485.346667pt;}
.y3d{bottom:490.626667pt;}
.y37{bottom:490.786667pt;}
.y19{bottom:512.386667pt;}
.y3c{bottom:517.186667pt;}
.y15{bottom:518.466667pt;}
.y36{bottom:523.906667pt;}
.y18{bottom:535.426667pt;}
.y14{bottom:537.186667pt;}
.y3b{bottom:543.906667pt;}
.y17{bottom:554.946667pt;}
.y13{bottom:556.066667pt;}
.y35{bottom:556.893333pt;}
.y3a{bottom:570.493333pt;}
.y12{bottom:574.813333pt;}
.y16{bottom:581.853333pt;}
.y34{bottom:590.013333pt;}
.y11{bottom:593.693333pt;}
.y39{bottom:597.053333pt;}
.y10{bottom:616.573333pt;}
.y33{bottom:618.813333pt;}
.y38{bottom:624.253333pt;}
.yf{bottom:643.613333pt;}
.y4e{bottom:644.253333pt;}
.y4d{bottom:656.733333pt;}
.ye{bottom:670.653333pt;}
.y4c{bottom:676.253333pt;}
.y4b{bottom:695.773333pt;}
.yd{bottom:697.693333pt;}
.y4a{bottom:715.293333pt;}
.yc{bottom:724.733333pt;}
.y49{bottom:734.813333pt;}
.yb{bottom:751.773333pt;}
.y48{bottom:759.773333pt;}
.ya{bottom:778.813333pt;}
.y32{bottom:797.573333pt;}
.y9{bottom:804.613333pt;}
.y31{bottom:819.173333pt;}
.y30{bottom:840.773333pt;}
.y8{bottom:846.053333pt;}
.y2f{bottom:862.373333pt;}
.y7{bottom:864.933333pt;}
.y6{bottom:883.973333pt;}
.y5{bottom:903.973333pt;}
.y2e{bottom:905.573333pt;}
.y4{bottom:923.973333pt;}
.y2d{bottom:927.173333pt;}
.y3{bottom:943.973333pt;}
.y2c{bottom:948.773333pt;}
.y2{bottom:963.973333pt;}
.y2b{bottom:967.173333pt;}
.y1{bottom:995.333333pt;}
.hd{height:36.281250pt;}
.h7{height:36.867188pt;}
.h4{height:37.195312pt;}
.hb{height:37.294500pt;}
.h9{height:40.799688pt;}
.h3{height:41.162813pt;}
.he{height:41.262000pt;}
.h6{height:65.959688pt;}
.h8{height:66.058875pt;}
.hc{height:90.756562pt;}
.h2{height:107.618437pt;}
.h5{height:107.717625pt;}
.h1{height:1092.666667pt;}
.ha{height:1096.000000pt;}
.h0{height:1122.560000pt;}
.w1{width:782.666667pt;}
.w3{width:788.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x37{left:1.599988pt;}
.x0{left:5.333333pt;}
.x38{left:8.319988pt;}
.x1c{left:25.599988pt;}
.x10{left:30.079988pt;}
.x1b{left:47.839988pt;}
.x16{left:52.799988pt;}
.x27{left:54.559988pt;}
.x18{left:56.959988pt;}
.x28{left:69.119988pt;}
.x29{left:78.591988pt;}
.x15{left:83.071988pt;}
.xa{left:86.111988pt;}
.x14{left:94.111988pt;}
.xe{left:97.951988pt;}
.xb{left:102.751988pt;}
.xd{left:104.191988pt;}
.x31{left:106.111988pt;}
.x17{left:108.031988pt;}
.x4{left:122.431988pt;}
.x5{left:126.591988pt;}
.x30{left:136.506655pt;}
.x6{left:141.466655pt;}
.xf{left:152.506655pt;}
.x8{left:157.626655pt;}
.x32{left:162.266655pt;}
.x3{left:175.546655pt;}
.x7{left:180.506655pt;}
.xc{left:185.466655pt;}
.x12{left:197.466655pt;}
.x9{left:242.786655pt;}
.x24{left:274.626655pt;}
.x26{left:276.066655pt;}
.x25{left:294.306655pt;}
.x23{left:297.506655pt;}
.x22{left:301.026655pt;}
.x21{left:312.386655pt;}
.x1a{left:315.106655pt;}
.x11{left:318.786655pt;}
.x13{left:326.946655pt;}
.x2{left:347.266655pt;}
.x20{left:354.946655pt;}
.x36{left:359.586655pt;}
.x1d{left:362.306655pt;}
.x39{left:366.146655pt;}
.x2f{left:374.786655pt;}
.x1e{left:378.306655pt;}
.x19{left:379.746655pt;}
.x1f{left:401.853322pt;}
.x2c{left:467.773322pt;}
.x2b{left:489.533322pt;}
.x34{left:494.333322pt;}
.x33{left:498.973322pt;}
.x2a{left:501.053322pt;}
.x2d{left:505.213322pt;}
.x35{left:510.653322pt;}
.x2e{left:581.413322pt;}
}
